.main{
   display: grid;
   grid-column: 2/3;
    width: 36rem;
    height: 38.4rem;
    overflow-y: scroll;
}
.header{
    height: 7.4rem;
    position: fixed;
}
.sectionmain{
    margin-top: 7.4rem;
}
.main::-webkit-scrollbar{
    display:none;
}