.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;

}
@media  (max-width:720px) {
    .RightSection{
        display: none;
    }
}
@media  (max-width:360px) {
    html{
        font-size: 10px;
    }
    .LeftSection{
        display: none;
    }
    .RightSection{
        display: none;
    }
 
}