.App {
    font-family: sans-serif;
    text-align: center;
  }
  .App button {
    padding: 13px 29px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgb(12, 16, 231);
    color: white;
    cursor: pointer;
  }
  
  #portal .container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .container .modal {
    z-index: 1;
    width: 30rem;
    height: 15rem;
    background: white;
    border-radius: 20px;
    position: absolute;
    animation: animate 0.3s;
    margin-left: 400px;
    margin-top: -300px;
    
  }
  .modal button {
    border: 1px red solid;
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: rgb(20, 57, 220);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  .image{
    height: 35px;
    width: 35px;
    margin-left: -27rem;
    margin-top: 2.5rem;
  }
  .input{
    font-size: x-large;
    border: 0;
    outline: 0;
  }
  .Button{
  margin-top: 12rem;
  border-radius: 20px;
  color: red;
 }
 .ButtonTweet{
  width: 13rem;
 }
 .ButtonTweet:hover{
  background-color: rgb(76, 76, 240);
 }