.input{
    width: 13rem;
    height: 2rem;
    background-color: grey;
    border: none;
    outline: none;
}
.inputmain{
    width: 19rem;
    height: 2.3rem;
    border-radius: 25px;
    position: relative;
    text-align: center; 
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px rgb(0, 0, 0) solid;
    background-color: aqua;
}
.icon2{
    font-size: 20px;
}
