.main{
 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(228, 240, 238);
}
.card:hover{
 background-color: rgb(205, 211, 216);
}
.card{
 padding: 8px;
}
.heading{
    margin-left: 10px;
    font-weight: 700;
}
.button{
    margin-left: rem;
    border: none;
    background-color: white;
    color: blue;
    margin-bottom: 10px;
    font-size: large;
    width: 7rem;
    background-color: transparent;
}