.main{
   padding: none;
   display: flex;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
}
.trend{
    font-size: small;
}
.hastag{
    font-weight: 700;
}
.icon{
     margin-left:7rem;
     font-size: larger;
}